# Python
__pycache__/
*.py[cod]
*$py.class
voice_cache/

# Pyenv
.python-version

# IDE
.vscode/

# Requirements
requirements.txt
requirements_mac.txt

# Firebase Credentials
serviceAccountKey.json

# Data
data/

